In [1]:
import os
import json
import pandas as pd
from sqlalchemy import create_engine

In [2]:
try:
    os.chdir("../../Workshop_001")
except FileNotFoundError:
    print("""
        FileNotFoundError - Puede que el directorio no exista o no estas ubicad@ en la ruta especificada.
        """)
os.chdir("..")
print(os.getcwd())

c:\Users\natym\Desktop

In [3]:
with open("Workshop_001/credentials.json", "r", encoding = "utf-8") as f:
    credentials = json.load(f)

db_host = credentials["db_host"]
db_name = credentials["db_name"]
db_user = credentials["db_user"]
db_password = credentials["db_password"]

engine = create_engine(f"postgresql://{db_user}:{db_password}@{db_host}:5432/{db_name}")

In [4]:
query = "SELECT * FROM candidates_raw_data;"
candidates_df = pd.read_sql(query, engine)
candidates_df.head()

,First Name,Last Name,Email,Application Date,Country,YOE,Seniority,Technology,Code Challenge Score,Technical Interview Score
0,Bernadette,Langworth,leonard91@yahoo.com,26/02/2021,Norway,2,Intern,Data Engineer,3,3
1,Camryn,Reynolds,zelda56@hotmail.com,9/09/2021,Panama,10,Intern,Data Engineer,2,10
2,Larue,Spinka,okey_schultz41@gmail.com,14/04/2020,Belarus,4,Mid-Level,Client Success,10,9
3,Arch,Spinka,elvera_kulas@yahoo.com,1/10/2020,Eritrea,25,Trainee,QA Manual,7,1
4,Larue,Altenwerth,minnie.gislason@gmail.com,20/05/2020,Myanmar,13,Mid-Level,Social Media Community Management,9,7

In [5]:
renamed_columns = {
    'First Name': 'first_name',
    'Last Name': 'last_name',
    'Email': 'email',
    'Application Date': 'application_date',
    'Country': 'country',
    'YOE': 'yoe',
    'Seniority': 'seniority',
    'Technology': 'technology',
    'Code Challenge Score': 'code_challenge_score',
    'Technical Interview Score': 'technical_interview_score'
}

candidates_df = candidates_df.rename(columns=renamed_columns)

In [6]:
candidates_df['application_date'] = pd.to_datetime(candidates_df['application_date'])
candidates_df.dtypes

C:\Users\natym\AppData\Local\Temp\ipykernel_11020\2449633209.py:1: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  candidates_df['application_date'] = pd.to_datetime(candidates_df['application_date'])

first_name                           object
last_name                            object
email                                object
application_date             datetime64[ns]
country                              object
yoe                                   int64
seniority                            object
technology                           object
code_challenge_score                  int64
technical_interview_score             int64
dtype: object

In [7]:
candidates_df["Hired"] = (candidates_df["code_challenge_score"] >= 7) & (candidates_df["technical_interview_score"] >= 7)
candidates_df["Hired"] = candidates_df["Hired"].map({True: "Yes", False: "No"})
print(candidates_df.head())

   first_name   last_name                      email application_date  \
0  Bernadette   Langworth        leonard91@yahoo.com       2021-02-26
1      Camryn    Reynolds        zelda56@hotmail.com       2021-09-09
2       Larue      Spinka   okey_schultz41@gmail.com       2020-04-14
3        Arch      Spinka     elvera_kulas@yahoo.com       2020-10-01
4       Larue  Altenwerth  minnie.gislason@gmail.com       2020-05-20

   country  yoe  seniority                         technology  \
0   Norway    2     Intern                      Data Engineer
1   Panama   10     Intern                      Data Engineer
2  Belarus    4  Mid-Level                     Client Success
3  Eritrea   25    Trainee                          QA Manual
4  Myanmar   13  Mid-Level  Social Media Community Management

   code_challenge_score  technical_interview_score Hired
0                     3                          3    No
1                     2                         10    No
2                    10                          9   Yes
3                     7                          1    No
4                     9                          7   Yes

In [8]:
candidates_df.to_sql('candidates_clean_data', engine, if_exists='replace', index=False)

1000